body{
    background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: fixed;
    /*background-size: 100% 100%;*/
}

div.content{
    margin-top: 200px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 1000px;
    border: solid;
    border-width: 2px;
    border-color: silver;
}

div.image{
    float: left;
    height: 396px;
    width: 600px;
    padding: 0px;
    border: solid;
    border-width: 1px;
    border-color: silver;
    background-image: url("../img/login.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: inherit;
    background-size: 100% 100%;
}

div.lg{
    height: 396px;
    width: 396px;
    float: right;
    border: solid;
    border-width: 1px;
    border-color: silver;
    background-color: #E9C2A6;
    background-size: 100% 100%;
}

div.my-header{
    width: 396px;
    height: auto;
    text-align: center;
    color: black;
}

label.error{
    color: red;
}

input.error{
    border: 1px solid red;
}

.btn_group{
    background-color: silver;
    width: 50px;
    height: 100px;
    position: fixed;
    right: 80px;
    top: 350px;
}